@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

body {
    margin: 0px;
    font-family: Geologica;
}

.error-title {
    margin-top: 20vh;
    font-size: 10vw;
    margin-bottom: 0px;
}

.error-txt {
    margin-top: 0px;
    font-size: 5.6vw;
    color: red;
}

.button {
    background-color: #1c50fa;
    width: 30vw;
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    transition: 0.8s;
}

.button:hover {
    background-color: #0030cf;
}