header {
    position: fixed;
    display: flex;
    width: 90%;
    height: 7vh;
    top: 0.5vh;
    left: 5vw;
    background-color: var(--bg);
    z-index: 1000;
    border-radius: 28px;
    border-style: solid;
    border-color: #008cff;
    align-items: center;
    flex-direction: row;
    transition: 1s;
}

.header-img {
    margin-left: 1%;
    height: 80%;
    border-radius: 100%;
}

.header-right {
    width: 35%;
    height: 100%;
    margin-left: 60%;
    display: flex;
    align-items: center;
}

.header-button {
    width: 25%;
    height: 4.5vh;
    text-align: center;
    line-height: 4.5vh;
    font-size: 1vw;
    border-radius: 16px;
    text-decoration: none;
    color: white;
    font-family: Geologica;
    transition: 1s;
    margin-left: 2%;
}

#subscribe {
    background-color: red;
}

#subscribe:hover {
    background-color: #c50101;
}

#contact-us {
    background-color: #008cff;
}

#contact-us:hover {
    background-color: #006cc4;
}

.change-theme {
    margin-left: 10%;
    font-size: 20vw;
    padding: 1%;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.7s;
}

.change-theme:hover {
    background-color: var(--theme-hover);
}