.custom-shape-divider-top-1691001879 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1691001879 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 26px;
}

.custom-shape-divider-top-1691001879 .shape-fill {
    fill: var(--bg2);
    transition: 1s;
}