@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    transition: 1s;
}

.top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(97,89,230,1) 0%, rgba(0,137,227,1) 60%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    font-family: Geologica;
}

.top-title {
    font-size: 7vw;
}

.top-desc {
    opacity: 0.85;
    font-size: 2vw;
}

.features {
    margin-top: 10vh;
}

.feature-wrapper {
    display: flex;
    justify-content: center;
}

.feature {
    width: 400px;
    height: 300px;
    background-color: #127fe6;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 20px;
    margin-bottom: 5vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Geologica
}

.feature-txt {
    font-size: 3.5vw;
}

.communicate-div {
    background-color: var(--bg2);
    height: 70vh;
    transition: 1s;
}

.communicate-title {
    text-align: center;
    padding-top: 3vh;
    font-family: Geologica;
    font-size: 4vw;
    color: var(--communicate-color);
    transition: 1s;
}

.server-embed {
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    border-radius: 5px;
}

.join {
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(7,144,172,1) 100%);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.domain-wrapper {
    background-color: #121212;
    width: 80vw;
    border-radius: 48px;
    height: 60px;
}

.domain-txt-wrapper {
    float: left;
    padding-left: 2vw;
    color: white;
    font-family: Geologica;
    font-size: 26px;
    padding-top: 13px;
}

.sym-copy-wrapper {
    display: flex;
    float: right;
    height: 60px;
    width: 60px;
    background-color: #222121;
    border-radius: 48px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}

.sym-copy-wrapper:hover {
    background-color: #333333;
}

.footer {
    background-color: #333333;
    height: 15vh;
    font-family: Geologica;
}

.footer-links {
    width: 70vw;
    padding-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    margin-top: 5vh;
    color: white;
    text-align: center;
}