.hidden-l {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}

.hidden-r {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
}
  
.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}