@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

body {
    margin: 0;
    padding: 0;
    background: white;
}

.top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(97,89,230,1) 0%, rgba(0,137,227,1) 60%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    font-family: Geologica;
}

.top-title {
    font-size: 7vw;
}

.top-desc {
    opacity: 0.85;
    font-size: 2vw;
}

.features {
    margin-top: 10vh;
}

.feature-wrapper {
    display: flex;
    justify-content: center;
}

.feature {
    width: 400px;
    height: 300px;
    background-color: #127fe6;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 20px;
    margin-bottom: 5vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Geologica
}

footer {
    background-color: rgb(41, 40, 40);
    width: 95%;
    margin: auto;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 48px;
}

.foot {
    font-size: 24px;
    color: white;
    font-family: 'Geologica', sans-serif;
    text-align: center;
    padding-top: 20px;
}