@media only screen and (max-width: 830px) {
    .hp-link {
        font-size: 3.3vw;
    }
}

@media only screen and (max-width: 430px) {
    .hp-link {
        font-size: 3.8vw;
    }
}

@media only screen and (max-width: 350px) {
    .top-title {
        font-size: 5vw
    }
}

@media only screen and (min-width: 1440px) {
    .top-title {
        font-size: 3vw
    }
}