@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Geologica;
}

.top {
    background-color: #0044ff;
    height: 10vh;
    display: flex;
    align-items: center;
}

.top-title {
    margin-left: 1vw;
    width: 50vw;
    margin-right: 42vw;
    color: white;
}

.hp-link {
    background-color: white;
    text-decoration: none;
    color: black;
    height: 5vh;
    width: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
    font-size: 2vw;
    transition: 1.2s;
}

.hp-link:hover {
    background-color: #379bf8;
    color: white;
    transition: 0.8s;
}